extends ../shared/template

block content
  h1= user.name

  .profile-picture(style="background-image:url('#{user.primaryPhoto}')")
  span: a(href='/users/edit') Edit

  form(action='/journeys')
    button Find a Journey

  form(action='/journeys/new')
    button Create a Journey

  form(action='/users/all')
    button Follow other Users


  #location
    h3 Location:
      h5= user.location
  #join-date
    h3 Join Date:
    h5= moment(user.joinDate).format('MMMM Do YYYY')
  #tag-line
    h3 Bio
    h5= user.tagLine

  h3 Badges
  #badges
  h3 Current Journeys
  #current-journeys
  h3 Past Journeys
  #past-journeys
