extends ../shared/template

block content
  h1= title

  .profile-picture(style="background-image:url('#{user.primaryPhoto}')")
  span: a(href='/users/edit') Edit

  form(action='/journeys')
    button Find a Journey

  form(action='/journeys/new')
    button Create a Journey

  form(action='/users/all')
    button Follow other Users

  #name= user.name
  #location= user.location
  #join-date= user.joinDate
  #tag-line= user.tagLine

  h3 Badges
  #badges
  h3 Current Journeys
  #current-journeys
  h3 Past Journeys
  #past-journeys
