extends ../shared/template

block content
  .edit-container
    h1 Update Profile Information
    h4= user.name

    form.users-edit-form(role="form",action='/#{user._id}', method='POST', enctype='multipart/form-data')
      .form-group
        label Your Email:
        input.form-control(type='text', name='email', autofocus=true, value=user.email)
      .form-group
        label Your Name:
        input.form-control(type='text', name='name', value=user.name)
      .form-group
        label Your Username:
        input.form-control(type='text', name='username', value=user.username)
      .form-group
        label Your Location:
        input.form-control(type='text',name='location', value=user.location)
      .form-group
        label Your Tag Line:
        input.form-control(type='text', name='tagLine', value= user.tagLine)
      .form-group
        label Your Profile Picture:
        input(type='file', name='photo')
      button.user-save-edit.btn.btn-success Save Profile

    -if(user.isProfileInitialized === false)
      form.user-cancel-edit(action='/logout')
        button.button.button-rounded Exit

    -if(user.isProfileInitialized === true)
      form.user-cancel-edit(action='/#{user.username}')
        button.button.button-rounded Cancel


    .form-group.cng-pass
      h3 Change Password
      form(action='/#{user.username}/password/new', method='POST')
        input.form-control(type='password', name='password', placeholder='Enter New Password')
        button.user-save-password.btn.btn-success Save Password

    .form-group.del-acct
      h3 Delete Account
      form(action='/#{user.username}/delete/#{user._id}', method='POST')
        //- input.form-control(type='password', name='password', placeholder='Enter Password')
        button.user-delete-account.btn.btn-danger Delete Account
