extends ../shared/template

block content
  #edit-container
    p Edit Profile
    p.email= user.email

  h1 Update Profile Information
  form(action='/#{user.username}', method='POST', enctype='multipart/form-data')
    label Your Email:
    input(type='text', name='email', autofocus=true, value=user.email)
    label Your Name:
    input(type='text', name='name', value=user.name)
    label Your Username:
    input(type='text', name='username', value=user.username)
    label Your Location:
    input(type='text',name='location', value=user.location)
    label Your Tag Line:
    input(type='text', name='tagLine', value= user.tagLine)
    label Your Profile Picture:
    input(type='file', name='photo')
    button Save Profile

  form(action='/#{user.username}')
    button Cancel


  h2 Change Password
  form(action='/#{user.username}/password/new', method='POST')
    input(type='password', name='password', placeholder='Enter New Password')
    button Save Password

  h3 Delete Account
    form(action='/#{user.username}/delete/#{user._id}', method='POST')
      input(type='password', name='password', placholder='Enter Password')
      button Delete Account
