extends ../shared/template

block content
  h1= title

  h3 Search
  input#search(type=text, autofocus=true)
  button#filter Search

  #users
    each user in users
      .user
        a(href='/#{user.username}')
          img.profile-picture(src='#{user.photo}')
        a(href='/#{user.username}')
          h5= user.name
        h6= user.tagLine
