extends ../shared/template

block content
  h1= title

  h3 Search
  input#search(type=text, autofocus=true)
  button#filter Search

  #users
    each user in users
      .user
        img.profile-picture(src='#{user.photo}')
        h5= user.name
        h6= user.tagLine
