extends ../shared/template

block content

  .profile-container
    .col-xs-12
      .col-md-8
        .profile-picture-container
          .profile-picture(style="background-image:url('#{profileOwner.photo}')")

        .user-info-container
          #user-name
            h1= profileOwner.name
          #user-location
            h3 Location:
            h5= profileOwner.location
          #user-join-date
            h3 Join Date:
            h5= moment(profileOwner.joinDate).format('MMMM Do YYYY')
          #user-tag-line
            h3 Tag
            h5= profileOwner.tagLine


        -if(loggedInUser._id.toString() === profileOwner._id.toString())

          form(action='/journeys')
            button.start-journey-profile.btn.btn-success.btn-lg Start a Journey

          form(action='/#{profileOwner.username}/edit')
            button.edit-profile.button.button-border.button-rounded Edit Profile

        .badges-container
          h3 My Badges
          each badge in profileOwner.badges
            .badges-on-profile(style='background-image: url("#{badge}")')
        //- #current-journeys
        //-   h3 Current Journeys
          //- each session in sessions
          //-   -console.log('jade sessions')
          //-   -console.log(session)
          //- -console.log(journeys)
            //- -if(session.journeyId.toString() === journey._id.toString())
            //-   -if(session.isJourneyComplete === 'false')
            //-     a(href='/journeys/play/#{journey.id}')
            //-       #{jounrey.name}
        //- h3 Past Journeys
        //- #past-journeys
