extends ../shared/template

block content

  h1= profileOwner.name

  .profile-picture(style="background-image:url('#{profileOwner.photo}')")

  -if(loggedInUser._id.toString() === profileOwner._id.toString())

    span: a(href='/#{profileOwner.username}/edit') Edit

    form(action='/journeys')
      button Find a Journey

    form(action='/journeys/new')
      button Create a Journey

    form(action='/users/all')
      button Follow other Users


  #location
    h3 Location:
      h5= profileOwner.location
  #join-date
    h3 Join Date:
    h5= moment(profileOwner.joinDate).format('MMMM Do YYYY')
  #tag-line
    h3 Bio
    h5= profileOwner.tagLine

  #badges
    h3 Badges
    each badge in profileOwner.badges
      .badges-on-profile(style='background-image: url("#{badge}")')
  //- #current-journeys
  //-   h3 Current Journeys
    //- each session in sessions
    //-   -console.log('jade sessions')
    //-   -console.log(session)
    //- -console.log(journeys)
      //- -if(session.journeyId.toString() === journey._id.toString())
      //-   -if(session.isJourneyComplete === 'false')
      //-     a(href='/journeys/play/#{journey.id}')
      //-       #{jounrey.name}
  //- h3 Past Journeys
  //- #past-journeys
