extends ../shared/template

block content
  #edit-container
    p=title

  h1 Update Journey Information
  form(action='/journeys/#{journey._id}', method='POST')
    label Journey Name:
    input(type='text', name='journeyName', autofocus=true, value=journey.name)
    label Your Location:
    input(type='text', name='journeyLocation', autofocus=true, value=journey.location)
    label Your Type:
    select#type(name='journeyType', value=journey.type)
      option Select a Journey Type
      option Food
      option Arts
      option Sightseeing
      option Music
      option Outdoors
      option Other
    button Save Journey

  form(action='/journeys/#{journey._id}')
    button Cancel

  h3 Delete Journey
    form(action='/journeys/#{journey._id}/delete', method='POST')
      input(type='password', name='password', placholder='Enter Password')
      button Delete Journey
