extends ../shared/template

block content
  #edit-container
    p=title

  h1 Update Journey Information
  form(action='/journeys/#{journey._id}', method='POST')
    label Journey Name:
    input(type='text', name='journeyName', autofocus=true, value=journey.name)
    label Your Location:
    input(type='text', name='journeyLocation', autofocus=true, value=journey.location)
    label Your Type:

    select#type(name='journeyType')
      option Select a Journey Type
      -console.log(journey.type)
      option(selected=(journey.type === 'food') ? true : false) Food
      option(selected=(journey.type === 'arts') ? true : false) Arts
      option(selected=(journey.type === 'sightseeing') ? true : false) Sightseeing
      option(selected=(journey.type === 'music') ? true : false) Music
      option(selected=(journey.type === 'outdoors') ? true : false) Outdoors
      option(selected=(journey.type === 'other') ? true : false) Other
    label Journey Description
    textarea#journey-description(type='textarea', name=journey.desc)

    label Journey Tags
    input#journey-tags(type='text', name='journeyTags', value=journey.tags)

    #badge
    input#badge-type(type='hidden', name='journeyBadge', value=journey.badge)

    #map
    label Add New Stops
    input#stop-location(placeholder='Enter Zip Code')
    button#add Add Location

    label Stops
    #stops

    button#save Save Journey


  form(action='/journeys/#{journey._id}')
    button Cancel

  h3 Delete Journey
    form(action='/journeys/#{journey._id}/delete', method='POST')
      input(type='password', name='password', placholder='Enter Password')
      button Delete Journey

block scripts
  script.
    var stops = !{JSON.stringify(journey.stops)};
  script(src='/js/es6/compiled/journeys-edit.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAkGxXJrX6q8CPx3G8EI701g51AX_Xi914&sensor=true&libraries=weather')
