extends ../shared/template

block content
  h1= journey.name
  h2= journey.location
  h4= journey.type


  -if(loggedInUser._id.toString() === journey.creatorId.toString())

    span: a(href='/journeys/#{journey._id}/edit') Edit

  #stops
    each stop in journey.stops
      h2= stop.name
      h3= stop.location
      h3= stop.desc
      h3= stop.lat
      h3= stop.lng

  form(action='/journeys/play/#{journey._id}')
    button#start Start Journey

  #map


block scripts
  script.
    var stops = !{JSON.stringify(journey.stops)};
  script(src='/js/es6/compiled/journeys.js')
  script(src='/js/es6/compiled/game.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAkGxXJrX6q8CPx3G8EI701g51AX_Xi914&sensor=true&libraries=weather')
